.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #000;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-text {
    text-align: center;
    color: #000;
}

header {
    background: rgb(99, 197, 250);
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
footer {
    flex-shrink: 0;
    background: rgb(99, 197, 250);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: #000;

}

.footer-logo {
    width: 75px;
    height: 75px;
}

a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.content {
    background-color: #f5d0d0;
    color: #000;
    text-align: center;
    width: 100%;
}

.avatar-cv {
    width: 20vh;
    height: auto;
    margin: 0 auto;
}

nav {
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    cursor: pointer;
    
}

nav a:hover {
    text-decoration: underline;
}
