/* Указываем box sizing */
*,
*::before,
::after {
  box-sizing: border-box;
}


ul[class],
ol[class] {
  padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


ul[class],
ol[class] {
  list-style: none;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
}


img {
  max-width: 100%;
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}


/* allura-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Allura';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/allura-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v29-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 12px;
  line-height: 1.3;
  font-weight: normal;
  color: #181c29;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 82px;
}

.header1 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 18%;
  text-transform: uppercase;
}

.header2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
}

.header3 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 8%;
  text-transform: uppercase;
}

.header4 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 5%;
  text-transform: uppercase;
}

.paragraph {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

.action__large {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
}

.action__small {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 5%;
  text-transform: uppercase;
}

.caption {
  font-family: Allura;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
}

.slider__text {
  font-family: Montserrat;
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1276px;
  margin: 0 auto;
  width: 100%;
}

/* Header styles start*/

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 64px;
  top: 0;
  z-index: 500;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  width: 100%;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}


.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  padding: 12px 20px;
  margin: 12px 4px;
  list-style-type: none;
}

.header__logo-link {
  display: flex;
  padding: 8px 20px;
}

.header__logo-pic {
  width: 24px;
  height: 24px;
}

.header__link {
  text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 75%;
}

/* Header styles end*/

.main {
margin-top: 64px;
}

/* Gifts styles start*/

.gifts {
  background-color: #ff4646;
  height: 1394px;
  border-radius: 20px;
  background-image: url(../img/png/bg-garland.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.container__gifts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1050px;
  flex-direction: column;
}

.container__gifts-text {
  color: white;
  width: 426px;
  height: 144px;
  text-align: center;
}

.container__card {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-around;
  align-items: center;
  height: 1050px;
}

.card {
  width: 310px;
  height: 342px;
  border-radius: 20px;
  background-color: #ecf3f8;
  overflow: hidden;
  
}

.card-image {
  width: 310px;
  height: 230px;
  object-fit: cover;
}

.card-text {
  width: 310px;
  height: 112px;
  border-radius: 20px;
  background-color: white;
  padding: 20px 20px 44px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header4__purple {
  color: #4361ff;
}

.header4__green {
  color: #06a44f;
}

.header4__pink {
  color: #ff43f7;
}

/* Gifts styles end*/

/* Footer styles start*/

.footer {
  background-color: white;
  width: 100%;
  height: 496px;
}

.container__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 376px;
  flex-direction: column;
  gap: 60px;
  margin-top: 60px;
}

.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-around;
  align-items: center;
}

.footer__card {
  width: 417.33px;
  height: 204px;
  border-radius: 20px;
  background-color: #ecf3f8;
  overflow: hidden;
  gap: 12px;
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer__card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.footer__section {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.social {
  width: 196px;
  height: 40px;
  padding: 0 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  align-items: center;

}

.social__image {
  width: 24px;
  height: 24px;
}

/* Footer styles end*/
